:root{
    /* colors */
    --color-primary: #4384F5;
    --color-grey: #606060;    ;
    --color-card-label: #495467;

    /* font sizes */
    --fz-banner-h:  2.75rem;

    /* font family */
    --font-poppins: 'Poppins', sans-serif;
    --font-sn: 'Signika Negative', sans-serif;

    /* box shadow */
    --bs-card: 0px 0px 29px rgba(0, 0, 0, 0.06);
}

*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: lightblue;
}