:root{
    /* colors */
    --color-primary: #4384F5;
    --color-grey: #606060;    ;
    --color-card-label: #495467;

    /* font sizes */
    --fz-banner-h:  2.75rem;

    /* font family */
    --font-poppins: 'Poppins', sans-serif;
    --font-sn: 'Signika Negative', sans-serif;
}

*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
}


/*----------------- navbar---------------------- */
.navbar{
    width: min(90rem, 100%);
    height: 5rem;
    background: transparent;
    display: flex; 
    padding: 0 5rem;
    position: absolute;
    z-index: 7;
}


/*---- nav left side ---*/

.nav-left-side{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo{
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: var(--font-sn);
    color: rgb(45, 47, 51);
}

.logo img{
    width: 2rem;
    margin-right: .5rem;
}

.logo span{
    color: #E28A17;
}


/*----- nav right side ------*/

.nav-right-side{
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    width: 60%;
    display: flex;
    justify-content: space-around;
}

.nav-links li{
    list-style: none;
}

.nav-links li a{
    font-family: var(--font-poppins);
    font-weight: 500;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    position: relative;
    color: #566777;
    transition: .3s;
}

.nav-links li a:hover{
    color: var(--color-primary);
}

.nav-links li a::after{
    position: absolute;
    content: '';
    bottom: -.25rem;
    left: 0;
    height: 2px;
    width: 100%;
    background: var(--color-primary);
    transform: scale(0, 1);
    transition: .3s;
}

.nav-links li a:hover::after{
    transform: scale(1, 1);
}

.login{
    text-transform: uppercase;
    font-size: 1.125rem;
    text-decoration: none;
    font-family: var(--font-poppins);
    color: #fff;
    background: var(--color-primary);
    padding: .4rem 2.5rem;
    border-radius: 10rem;
    box-shadow: 0px 10px 34px rgba(15, 130, 219, 0.45);
}


/*---------------------- banner-------------------- */

.banner{
    width: min(90rem, 100%);
    display: flex;
    padding: 0 5rem;
    position: relative;
    top: 0;
    z-index: -7;
    background-color: transparent;
    overflow: hidden;
}

.banner::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 86rem;
    width: 86rem;
    border-radius: 50%;
    background: linear-gradient(135deg, rgba(0, 113, 188, 0.5) 0%, rgba(255, 255, 255, 0) 75%);
    z-index: -14;
    transform: translate(-40rem, -40rem);
}

.banner::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 60rem;
    width: 80rem;
    border-radius: 50%;
    z-index: -14;
    background: linear-gradient(50deg, rgba(255, 255, 255, 0) 25%, rgba(204,59,156,.35) 100%);
    transform: translate(48rem, -14rem);
}

.banner-bg{
    position: absolute;
    width: 28%;
    left: 83.5%;
    top: 2%;
}

/* left side */

.left-side{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: var(--font-poppins);
}

.left-side h1{
    color: #21272D;
    font-size: 2.75rem;
    margin-top: 8rem;
}

.left-side h2{
    font-size: 2.75rem;
    color: #1D89E8;
}

.left-side p{
    width: min(35rem, 100%);
    color: #606060;
    font-size: 1.313rem;
    margin-top: 2rem;
}

.innovation-block{
    background-color: #fff;
    padding: .8rem 2rem 0 2rem;
    border-radius: .7rem;
    margin: 5rem 0;
    box-shadow: 0px 5px 30px -10px rgba(0,0,0,0.2);
}

.innovation-block p{
    width: initial;
    margin: initial;
}


/* right side */

.right-side{
    width: 40%;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.img-wrapper{
    width: 23.6rem;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 3rem;
    position: relative;
}

/* .right-side .img-wrapper .banner_B{
    position: absolute;
    top: 18rem;
    left: 7.5rem;
    width: 8.4rem;
} */

.right-side .img-wrapper img{
    display: block;
    width: 100%;
}


/*------------------ services -----------------------*/
.services{
    background-color: transparent;
    width: min(90rem, 100%);
    position: relative;
    overflow-x: hidden;
}

/* service heading */
.service-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-poppins);
    margin: 0 2rem;
}

.service-heading h2{
    color: #4B4B4B;
    font-size: 2.5rem;
    margin-top: 1rem;
    text-align: center;
}

.service-heading h2 span{
    color: var(--color-primary);
}

.service-heading p{
    width: min(40rem, 100%);
    text-align: center;
    font-size: 1.125rem;
    color: #818181;
    margin-top: 1rem;
}

/* service all card wrapper */
.services__cards{
    background-color: transparent;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 9rem;
}

/* all column */
.cards__col{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 3 - 8rem);
    min-width: 17rem;
    margin-top: 3rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.col-1, .col-3{
    margin-top: 9rem;
}

/* all card */
.card{
    background-color: transparent;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-poppins);
    border-radius: .7rem;
    border: 2px solid transparent;
    transition: .3s;
    box-shadow: 0px 2px 30px -2px rgba(0,0,0,0.1);
}

.card:hover{
    border: 2px solid #4384F5;
}

/* 2nd card */
.card-2nd{
    margin-top: 3rem;
}

.card img{
    width: 6.625rem;
    margin-top: 4.5rem;
    display: block;
}

.card p{
    font-size: 1.25rem;
    color: #495467;
    margin-top: 1.8rem;
}

.card a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: #707070;
    padding: 0 1rem;
    margin-bottom: 1.5rem;
    border-radius: 5rem;
    border: 2px solid #707070;
    margin-top: 1.7rem;
    transition: .3s;
}

.card a:hover{
    color: #4384F5;
    border-color: #4384F5;
}


/* service background */
.serv-bg-wrapper{
    position: absolute;
    width: 100%;
    z-index: -14;
    display: flex;
    justify-content: center;
    align-items: center;
}

.serv-bg{
    display: block;
    width: 55%;
    min-width: 30rem;
    transform: translate(6.3rem, 14rem);
}


/*---------------------- special -----------------------*/
.special{
    position: relative;
    width: min(90rem, 100%);
    background: url(../img/special/special-bg.svg)  no-repeat top center;
}

/* seecial_logo */
.sp_logo-wrapper{
    position: absolute;
    width: 8.5rem;
    height: 8.5rem;
    background-color: #fff;
    border-radius: 50%;
    top: -3rem;
    right: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 30px -2px rgba(0,0,0,0.1);
}

.sp_logo{
    width: 3.5rem;
}

/* heading */
.special__heading{
    text-align: center;
    font-size: 2.5rem;
    font-family: var(--font-poppins);
    background-color: transparent;
    margin: 12rem 1rem 5rem 1rem;
}

.special__heading span{
    color: var(--color-primary);
}

/* main card wrapper */
.sp__card-wrapper{
    background-color: transparent;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 2rem;
    margin-bottom: 5rem;
}

.sp_cards{
    width: 775px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* all card */
.sp_cards .card{
    width: 245px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 1.5rem;
    border-radius: .5rem;
    box-shadow: none;
}

/* column 1 */
.sp_card_style_1{
    background-color: rgba(162, 46, 229, 0.1);
}
.sp_card_style_1:hover{
    border: 2px solid rgba(156, 94, 226, 0.5);
}
.sp_card_style_1 .card__icon{
    background: linear-gradient(180deg, #9b5ee2 10%, #953898 100%);
}

.sp_card_style_2{
    background-color: rgba(255, 0, 0, 0.1);
}
.sp_card_style_2:hover{
    border: 2px solid rgba(226, 94, 94, 0.5);
}
.sp_card_style_2 .card__icon{
    background: linear-gradient(180deg, #E17777 10%, #E25E5E 100%);
}

/* column 2 */
.sp_card_style_3{
    background-color: rgba(70, 46, 229, 0.1);
}
.sp_card_style_3:hover{
    border: 2px solid rgba(103, 94, 226, 0.5);
}
.sp_card_style_3 .card__icon{
    background: linear-gradient(180deg, #675EE2 10%, #4F579E 100%);
}

.sp_card_style_4{
    background-color: rgba(17, 210, 126, 0.1);
}
.sp_card_style_4:hover{
    border: 2px solid rgba(50, 188, 179, 0.5);
}
.sp_card_style_4 .card__icon{
    background: linear-gradient(180deg, #32BCB3 10%, #38983E 100%);
}

/* column 3 */
.sp_card_style_5{
    background-color: rgba(46, 113, 229, 0.1);
}
.sp_card_style_5:hover{
    border: 2px solid rgba(1, 97, 242, 0.5);
}
.sp_card_style_5 .card__icon{
    background: linear-gradient(180deg, #0162F2 10%, #4382CB 100%);
}

.sp_card_style_6{
    background-color: rgba(255, 136, 0, 0.1);
}
.sp_card_style_6:hover{
    border: 2px solid rgba(252, 186, 6, 0.5);
}
.sp_card_style_6 .card__icon{
    background: linear-gradient(180deg, #FCBA06 10%, #EF7517 100%);
}


.sp_cards .card .card__icon{
    width: 3.7rem;
    height: 3.7rem;
    background-color: #675EE2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sp_cards .card .card__icon i{
    color: #fff;
    font-size: 1.8rem;
}

.sp_cards .card p{
    color: #363637;
    font-size: 1rem;
    margin: 1.1rem 0 .5rem 0;
}


/* ------------ team cards --------------------*/
.team_section{
    width: min(90rem, 100%);
    min-height: 100vh;
    background-color: #108EEE;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team_card_container{
    width: 70rem;
    background-color: #108EEE;
    box-shadow: 0px 2px 30px -2px rgba(0,0,0,0.1);
    display: flex;
    align-items: flex-start;
    padding: 5rem 3rem 5rem 5rem;
}

/* left side */
.team_profile_area{
    width: 35%;
    background-color: transparent;

}

/* card view area */
.team_profile_view{
    width: 18.8rem;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: .5rem;
}

/* .profile-design{

} */

.team_card{
    background-color: transparent;
    width: 16rem;
    padding-top: 1.1rem;
    padding-bottom: 1.8rem;
}

.team_card img{
    width: 100%;
    border-radius: .3rem;
    box-shadow: 0px 2px 30px -2px rgba(0,0,0,0.1);
}

.team_card h3{
    font-size: 1.25rem;
    color: #707070;
    font-family: var(--font-poppins);
    text-align: center;
    font-weight: 500;
    margin-top: 1.72rem;
}

.team_card p{
    font-size: 1rem;
    font-family: var(--font-poppins);
    text-align: center;
    color: rgba(112, 112, 112, 0.5);
    margin-top: 0.13rem;
}

/* right side */
.team_blog{
    width: 65%;
    height: 100%;
    position: relative;
}

.quotation{
    position: absolute;
    top: 0rem;
    left: 0rem;
}

.person_3{
    width: 100%;
}

.person_3 p{
    font-size: 1.125rem;
    font-family: var(--font-poppins);
    color: #fff;
    margin-top: 5.5rem;
}



/*--------------------------------------
-----------responsive design----------- 
-------------------------------------*/

 @media(max-width: 1150px){

    /* banner */
    .left-side h1{
        margin-top: 6rem;
        font-size: 2.4rem;
        line-height: 1.1;
    }

    .left-side h2{
        font-size: 2.4rem;
        line-height: 1;
        margin-top: .5rem;
    }

    .banner .left-side p{
        font-size: 1.1rem;
        margin-top: 1.2rem;
    }

    .innovation-block{
        margin: 4rem 0;
    }

    .img-wrapper img{
        margin-top: 3rem;
    }

    /* service-heading */
    .service-heading h2{
        font-size: 2.4rem;
    }

    /* special */
    .special__heading{
        font-size: 2.4rem;
    }
}


@media(max-width: 992px){
    /* navbar */
    .nav-links li a{
        margin-left: .7rem;
    }

    /* banner */
    .img-wrapper img{
        margin-top: 0;
    }
    
}

@media(max-width: 969px){
    /* service */
    .cards__col{
        width: calc(100% / 2 - 8rem);
    }

    .col-3{
        flex-direction: row;
        width: 100%;
        justify-content: center;
        margin-top: 3rem;
        margin-left: 0;
        margin-right: 0;
    }

    .col-3 .card{
        width: calc(100% / 2 - 8rem);
        min-width: 17rem;
    }

    .col-3 .card-1st{
        margin-right: 1.5rem;
        margin-left: 1.5rem;
    }

    .col-3 .card-2nd{
        margin-top: -12rem;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }

    /* sp logo */
    .sp_logo-wrapper{
        top: -3rem;
        right: 6rem;
    }
}


@media(max-width: 920px){
    /* navbar */
    .navbar{
        padding: 1rem 2rem;
        background-color: #fff;
        height: 3.5rem;
    }

    /* right side */
    .nav-right-side{
        position: absolute;
        flex-direction: column;
        align-items: flex-start;
        top: 3.5rem;
        background-color: #fff;
        min-height: calc(100vh - 3.5rem);
        transform: translateX(60rem);
        width: 0;
        overflow: hidden;
        transition: all .5s ease;
    }

    .nav-active{
        width: 100%;
        transform: translateX(-2rem);
        overflow: hidden;
    }

    .nav-links{
        flex-direction: column;
    }

    .nav-links li{
        margin: 1rem 3rem;
    }

    .button{
        margin: 2rem 3rem;
    }

    /* hamburger */
    .hamburger-wrapper{
        width: 75%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .hamburger-btn{
        height: 100%;
        padding-top: 11px;
        z-index: 9;
    }

    .hamburger{
        position: relative;
        width: 2rem;
        height: 3px;
        background-color: var(--color-primary);
        border-radius: 2px;
        transition: .1s;
    }

    .hamburger::after, .hamburger::before{
        position: absolute;
        content: '';
        width: 2rem;
        height: 3px;
        background-color: var(--color-primary);
        border-radius: 2px;
        transition: .3s;
    }

    .hamburger::after{
        transform: translateY(7px);
    }
    .hamburger::before{
        transform: translateY(-7px);
    }

    .hamburger.active{
        height: 0;
    }

    .hamburger.active::after{
        transform: rotate(-45deg) translateY(0);
    }
    .hamburger.active::before{
        transform: rotate(45deg) translateY(0);
    }

    /* banner */
    .banner{
        padding: 0 2rem;
    }

    .left-side h1{
        font-size: 2.2rem;
        line-height: 1.2;
    }

    .left-side h2{
        font-size: 2.2rem;
    }

    .left-side p{
        font-size: 1rem;
    }

    .innovation-block{
        margin: 3rem 0;
    }

    /* service-heading */
    .service-heading h2{
        font-size: 2.2rem;
    }

    /* special */
    .special__heading{
        font-size: 2.2rem;
    }
}

@media (max-width: 879px){
    /* special */
    .s_col-3{
        width: calc(100% - 17rem);
        flex-direction: initial;
        justify-content: center;
        margin-top: 2rem;
    }

    .s_col-3 .card{
        min-width: 15rem;
        margin: 0 1rem;
    }

    .s_col-3 .card-2{
        margin-top: 0;
    }
}


@media(max-width: 800px){
    /* banner */
    .banner-bg{
        width: 40%;
        left: 75%;
        top: 6%;
    }

    .left-side h1{
        font-size: 1.75rem;
        margin-top: 5rem;
    }

    .left-side h2{
        font-size: 1.75rem;
        line-height: 1.2;
    }

    .innovation-block{
        padding-right: 1rem;
        padding-left: 1rem;
    }

    /* service-heading */
    .service-heading h2{
        font-size: 1.75rem;
        line-height: 1.2;
        padding: 0 2rem;
    }

    /* special */
    .special__heading{
        font-size: 1.75rem;
    }

    .sp_cards{
        width: 515px
    }
}


@media(max-width: 670px){

    /* navbar */
    .navbar{
        padding: 1rem;
    }

    .nav-active{
        width: 100%;
        transform: translateX(-1rem);
        overflow: hidden;
    }

    /* banner */
    .banner{
        padding: 0 1rem;
    }
    .left-side{
        width: 100%;
    }

    .left-side h1{
        width: 100%;
    }

    .left-side h2{
        width: 100%;
    }

    .left-side p{
        width: 100%;
    }

    .innovation-block{
        margin: 2.5rem 0;
        width: 100%;
    }

    .banner::after, 
    .right-side{
        display: none;
    }

    
    /* service background */
    .serv-bg{
        transform: translate(3.5rem, 27rem);
        min-height: 25rem;
    }
}


@media (max-width: 639px){
    /* service cards */
    .services__cards{
        margin-bottom: 7rem;
    }

    /* services all column */
    .cards__col{
        width: calc(100% - 17rem);
        margin-top: 3rem;
    }

    /* column 3 */
    .col-3{
        flex-direction: column;
        width: 100%;
    }

    .col-3 .card{
        width: calc(100% - 17rem);
    }

    .col-3 .card-2nd{
        margin-top: 3rem;
    }

    /* sp logo */
    .sp_logo-wrapper{
        top: -1.5rem;
        right: 3rem;
    }
}


@media (max-width: 607px){
    /* special */
    .sp_cards{
        width: 90%;
    }

    .sp_cards .card{
        width: 100%;
    }
}